
.btb-logo { margin-top: 20px; margin-bottom: 20px; } 
.tagline { margin-top: 48px; margin-bottom: 10px; padding-left: 20px;
           text-align: left;
           font-family: 'ITC Goudy Sans W01 Medium', 'Gloria Hallelujah', cursive;
         }

#btblogo { height: 100px; margin-left: 20px;} 

